@mixin newFont($family,$pathName, $weight) {
    @font-face {
        font-family: '#{$family}';
        src: url('/public/fonts/#{$pathName}.woff2') format('woff2'), url('/public/fonts/#{$pathName}.woff') format('woff');
        font-weight: $weight;
        font-style: normal;
    }
}



@include newFont('GTEestiProDisplay', 'Light', 300);
@include newFont('GTEestiProDisplay', 'Regular', 400);
@include newFont('GTEestiProDisplay', 'Medium', 500);
@include newFont('GTEestiProDisplay', 'Bold', 700);