section.bottom-banner
    a(href="#").bottom-banner__link
    .bottom-banner__content
        .bottom-banner__wrapper
            .bottom-banner__title Новые тренировки <br>и статьи каждую неделю!
            .bottom-banner__view Смотреть
        .bottom-banner__video
            .bottom-banner__play
        img(src="/public/images/bottomBanner/photo.jpg", alt="").bottom-banner__photo
    