section.info
    .info__wrapper
        .info__text Пора прийти в форму! The Challenger и Ozon объявляют взрывной марафон,<br> который продлится с февраля по апрель. Три месяца — это три направления<br> тренинга: мы начнём с блока интервальных тренировок, направленных на<br> жиросжигание, затем перейдём к работе над силой и придадим мышцам<br> рельеф, а завершим марафон комплексами упражнений из пилатеса,<br> направленных на развитие гибкости и достижение гармонии. 
        .info__group
            .info__about
                .info__icon.info__icon_calendar
                .info__about-title 3 месяца тренировок<br>для взрывного старта 2021
            .info__about
                .info__icon.info__icon_play
                .info__about-title 8 видео в месяц для<br> максимального эффекта
            .info__about
                .info__icon.info__icon_flag
                .info__about-title Возможность выиграть<br> призы от Ozon

