section.prizes
    .prizes__header
        .prizes__title Выигрывайте суперпризы!
        a(href="#").prizes__link Полные правила конкурса
    .prizes__win
        .prizes__prize
            .prizes__place 1 место
            .prizes__rubles 50 000 &#8381;
        .prizes__how-to-win 
            .prizes__icon.prizes__icon_first
            .prizes__rules C 1 по 28 февраля выполняйте<br> интервальные тренировки
    .prizes__win
        .prizes__prize
            .prizes__place 2 место
            .prizes__rubles 30 000 &#8381;
        .prizes__how-to-win 
            .prizes__icon.prizes__icon_second
            .prizes__rules Выкладывайте фото или видео тренировок в постах и сториc<br> Instagram с отметками @ozonru, @the_challenger.ru и хэштэгом<br> #ozon4sport
    .prizes__win
        .prizes__prize
            .prizes__place 3 место
            .prizes__rubles 10 000 &#8381;
        .prizes__how-to-win 
            .prizes__icon.prizes__icon_third
            .prizes__rules Выигрывайте сертификаты на покупки<br>на маркетплейсе Ozon
    .prizes__banner #ozon4sport