section.trainings
    .trainings__content
        .trainings__card.trainings__card_february.trainings__card_active
            .trainings__card-description
                .trainings__card-title Февраль
                .trainings__card-subtitle Интервальный<br>тренинг
                .trainings__card-text Блок тренировок, направленных<br> на жиросжигание, приведёт вас<br> в форму после новогодних<br> праздников.
            img(src="/public/images/trainings/arrow.svg").trainings__card-arrow
        .trainings__card.trainings__card_march.trainings__card_active.trainings__card_animated
            .trainings__card-description
                .trainings__card-title Март
                .trainings__card-subtitle Силовая<br>тренировка
                .trainings__card-text Тренировки для развития силы<br> и набора мышечной массы<br> помогут обрести фигуру мечты.
            img(src="/public/images/trainings/arrow.svg").trainings__card-arrow
        .trainings__card.trainings__card_april
            .trainings__card-description
                .trainings__card-title Апрель
                .trainings__card-subtitle Пилатес
                .trainings__card-text Работа над гибкостью — логичное<br> завершение марафона. Помимо<br> хорошей растяжки этот блок<br> поможет найти гармонию. 
                .trainings__card-soon Cкоро!    