section.workouts
        .workouts__container
            .workouts__header
                .workouts__title Что такое<br> интервальные тренировки?
                .workouts__wrapper
                    .workouts__icon.workouts__icon_check
                    .workouts__download <a href="#" class="workouts__link">Скачайте чеклист</a>, чтобы следить<br> за своими тренировками
            .workouts__group
                .workouts__description
                    .workouts__icon.workouts__icon_1
                    .workouts__text Высокоинтенсивные интервальные<br> тренировки — эффективный способ<br> борьбы с лишним весом: при них сгорает<br> в 6 раз больше жира, чем при кардио.<br> Мы будем чередовать интенсивные<br> упражнения и периоды отдыха
                .workouts__description
                    .workouts__icon.workouts__icon_2
                    .workouts__text Такие тренировки не займут много<br> времени — всего 8-15 минут в день.<br> Но в эти минуты придётся работать на<br> пределе своих возможностей. Готовьтесь<br> как следует попотеть! 
                .workouts__description
                    .workouts__icon.workouts__icon_3
                    .workouts__text Вместе с Анной Лысенко мы выполним<br> 8 интервальных тренировок в феврале.<br> За это время вы станете стройнее<br> и выносливее. Если, конечно, не будете<br> пропускать наши видеоролики  