extends components/layout.pug
block ozonChallenger
        include components/sections/topBanner.pug
        include components/sections/info.pug
        include components/sections/trainings.pug
        include components/sections/workouts.pug
        include components/sections/bottomBanner.pug
        include components/sections/prizes.pug